@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  /* width: 0; */
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  /* box-sizing: border-box; */
  /* background-color: tomato; */
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  height: 95px;
  background: linear-gradient(
    90deg,
    rgb(7, 35, 59) 1.67%,
    rgb(4, 29, 52) 39.95%,
    rgb(4, 25, 45) 58.24%,
    rgb(4, 14, 24) 80.28%,
    rgb(5, 12, 22) 101.48%
  );
  width: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(55, 55, 55, 0.075);
  z-index: 1000;

}

#navbar {
  width: 100%;
  max-width: 1300px; /* Adjust as needed */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px; /* Adjust side space */
}

#main.scrolled {
  background: #040c16; /* Ya koi bhi color jo aap chahen */
}
/* .header-top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 111;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: ease all 0.35s;
  background-color: transparent;
} */
.fixed-header {
}

/* #logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    padding-left: 20px;
} */

#nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#links a {
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  /* transition: background-color 0.3s ease; */
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s ease;
  /* border-bottom: 2px solid #fff; */
}

.btn {
  background-color: #0788ff;
  border: 2px solid #0788ff;
  border-radius: 40px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  padding: 13px 30px;
  transition: all 0.35s ease;
  font-size: 15px;
  letter-spacing: 1px;
}
